---
# 基于Google风格的C++代码格式化配置
BasedOnStyle: Google
Language: Cpp

# 缩进
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4

# 换行
ColumnLimit: 100
BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon

# 指针和引用对齐
PointerAlignment: Left
ReferenceAlignment: Left

# 命名空间
NamespaceIndentation: None
CompactNamespaces: false

# 注释
ReflowComments: true
SpacesBeforeTrailingComments: 2

# 包含头文件
IncludeBlocks: Regroup
SortIncludes: true

# 其他
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
